{{ block "word-entry" . }}
<form hx-post="/words" hx-swap="none" hx-on::after_request="if (event.detail.successful) this.reset()">
    Word: <input {{ if.Values.original }} value="{{ .Values.original }}" {{ end }} type="text" name="original">

    Translation: <input {{ if.Values.translation }} value="{{ .Values.translation }}" {{ end }} type="text" name="translation">

    {{ if .Errors.original }}
        <div style="color: red;">{{ .Errors.original }}</div>
    {{ end }}

    <button type="submit">Add word</button>
</form>
{{ end }}

{{ block "search" . }}
<div class="search-bar"> Search:
<input class="form-control" 
        type="search" 
        name="search"
        hx-post="/search" 
        hx-trigger="input changed delay:500ms, search" 
        hx-target="#search-results" 
        hx-indicator=".htmx-indicator">
</div>
{{ end }}

{{ block "search-result" . }}
<tr class="search-result" id="result-{{ .Id }}">
    <td>{{ .Original }}</td>
    <td>{{ .Translation }}</td>
</tr>
{{ end }}

{{ block "search-results" . }}
<table id="search-results" class="search-results">
    <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Definition</th>
        </tr>
    </thead>
    <tbody>
        {{ range .SearchResults }}
            {{ template "search-result" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "table" . }}
<table id="words" class="words">
    <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Definition</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="words-table" class="words-table" hx-target="closest tr" hx-swap="outerHTML">
        {{ range .Words }}
            {{ template "word-table" .}}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "word-table" . }}
<tr class="word" id="word-{{ .Id }}">
    <td>{{ .Original }}</td>
    <td>{{ .Translation }}</td>
    <td>
        <div class="actions-container" style="display: flex; justify-content: center; align-items: center;">
            <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-delete="/words/{{ .Id }}" style="width: 1rem; cursor: pointer;">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>

            <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-get="/words/{{ .Id }}/edit" style="width: 1rem; cursor: pointer;">
                <i class="fas fa-edit" aria-hidden="true"></i>
            </div>
    
            <div id="di-{{ .Id }}" class="htmx-indicator">
                <i class="fa fa-circle-o-notch fa-spin fa-ig fa-fw"></i>
            </div>
        </div>
    </td>
</tr>
{{ end }}

{{ block "word-table-oob" . }}
<tbody hx-swap-oob="afterbegin:#words-table">
    <tr class="word" id="word-{{ .Id }}">
        <td>{{ .Original }}</td>
        <td>{{ .Translation }}</td>
        <td>
            <div class="actions-container" style="display: flex; justify-content: center; align-items: center;">
                <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-delete="/words/{{ .Id }}" style="width: 1rem; cursor: pointer;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>

                <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-get="/words/{{ .Id }}/edit" style="width: 1rem; cursor: pointer;">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </div>
            
                <div id="di-{{ .Id }}" class="htmx-indicator">
                    <i class="fa fa-circle-o-notch fa-spin fa-ig fa-fw"></i>
                </div>
            </div>
        </td>
    </tr>
</tbody>
{{ end }}

{{ block "word-edit" . }}
<tr class="word" id="word-{{ .Id }}" hx-trigger="cancel" hx-get="/words/{{ .Id }}" > 
    <td><input type="text" name="newOriginal" value="{{ .Original }}"></td>
    <td><input type="text" name="newTranslation" value="{{ .Translation }}"></td>
    <td>
        <div class="edit-actions" style="display: flex; justify-content: center; align-items: center;">
            <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-get="/words/{{ .Id }}" style="width: 1rem; cursor: pointer;">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </div>

            <div hx-indicator="#di-{{ .Id }}" hx-target="#word-{{ .Id }}" hx-swap="outerHTML" hx-put="/words/{{ .Id }}" hx-include="closest tr" style="width: 1rem; cursor: pointer;">
                <i class="fa-solid fa-check" aria-hidden="true"></i>
            </div>
        </div>
    </td>
</tr>
{{ end }}